body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* Container for the file input to style it similarly to the geocoder input */
.file-upload-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
  background-color: white;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px;
  display: flex;
  align-items: center;
  padding: 5px 10px;
}

/* Style the file input itself */
.file-upload-container input[type="file"] {
  display: none;
  /* Hide the default file input */
}

/* Custom button style for file input */
.file-upload-button {
  background-color: #fafafa;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  cursor: pointer;
  font-size: 14px;
  color: #333;
  display: flex;
  align-items: center;
}

.file-upload-button:hover {
  background-color: #f0f0f0;
}

/* Optional: Style for the file input label, making it look like a button */
.file-upload-button label {
  cursor: pointer;
}

/* Mobile view: move the file upload button to the bottom-left corner */
@media (max-width: 768px) {
  .file-upload-container {
    top: 15px;
    left: 15px;
  }
}

/* Style for the uploading text */
.uploading-text {
  margin-left: 10px;
  font-size: 14px;
  color: #666;
  font-style: italic;
  white-space: nowrap;
}


/* Style for the rotation button */
.rotation-button {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #3386c0;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 3px;
  z-index: 10;
}

.rotation-button:hover {
  background-color: #2a6f9b;
}

/* Mobile view: move the rotation button to the bottom-right corner */
@media (max-width: 768px) {
  .rotation-button {
    top: auto;
    bottom: 50px;
    right: 4px;
  }
}

/* Mobile view: change the search-bar */
@media (max-width: 768px) {
  .mapboxgl-ctrl-geocoder {
    width: 50%;
  }
}